@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');




h1{
    font-family: "Poppins";
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

main form{
   font-family: "Poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label{
    display: flex;
    flex-direction: column;
}

main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input{
    background:#161924 ;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: white;
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

main form input[type = "submit"]{
    cursor: pointer;
    font-family: "Poppins";
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    color: white;
    font-size: 1.1rem;

}

main form input[type = "submit"]:hover{
    background: rgb(196, 67, 67);
    color:black;
    transition: all .3s ease-in-out;
}


main form select{
    background:#161924 ;
    width: 320px;
    height: 60px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: white;
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;

}

main form span{
    font-size: 1.1rem;
    margin-top: 2rem;
    align-items: flex-start;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(180deg,#141414, #E50914);
    font-size: 15px;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div form{
    max-width: 500px;
    background-color: rgba(0,0, 0, .9);
    padding: 80px;
    border-radius: 15px;
    color: white;   
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}        

button{
    background-color: #E50914;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

button:hover{
    background: #f33f48;
    cursor: pointer;
}    

a{
    font-size: 13px;
    color: #E50914;
}
a:hover{ 
    color: white;
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
 
.row.content {height: 450px}
 
.ContainerPerfil{
    font-family: "Poppins";
    max-width: 100%;
    background-color: rgba(34, 32, 32, 0.9);
    padding: 80px;
    border-radius: 15px;
    color: white;   
}

.Titulos{
    
    font-size: 30px;
    margin-bottom: 2rem;
}

.collapse{
    margin-top: 20px;
    margin-left: 15px;
}

.SubTitulos{
    font-size: 20px;
    margin-bottom: 2rem;
}

.ContainerDiv{
   
    max-width: 100%;
    background-color: rgba(17, 17, 17, 0.795);
    padding: 80px;
    border-radius: 15px;
    color: white;   

}
input{
    background:#161924 ;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: white;
    font-size: 2rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

img{
    width: 500px;
}