<!DOCTYPE html>
<html lang="en">
<head>
  <title>Perfil do Responsável</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="Estilos/main2.css">
  <link rel="stylesheet" href="Estilos/EstiloPerfil.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
 
</head>
<body>

<nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav navbar-right">
        <li><a><span class="glyphicon glyphicon-usd"></span> R$ 100,00</a></li>
          <li><a href="GerenciarAlunos.html"><span class="glyphicon glyphicon-user"></span> Gerenciar Alunos Relacionados</a></li>
          <li><a href="GerenciarProdutosResp.html"><span class="glyphicon glyphicon-cutlery"></span> Gerenciar Produtos</a></li>
          <li><a href="Deposito.html"><span class="glyphicon glyphicon-credit-card"></span> Depósito</a></li>    
          <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li> 
      </ul>
    </div>
  </div>
</nav>

<br><br><br>



  <div class="ContainerPerfil">

      <div class="ContainerDiv">
     
        <p class="Titulos">Consultar Consumo do Aluno</p>
        <p class="SubTitulos">Informe a matrícula do Aluno</p>
        <label for="matricula"> 
          <span class="SubTitulos">Matrícula: </span>
          <input type="text" id="matricula" name="matricula"> <br>
        </label><br><br>

        <p class="SubTitulos">Informe a Data a data que deseja consultar </p>
        <label>
          <span class="SubTitulos">Data requerida: </span>
          <input type="date" id="dataConsumo" name="dataConsumo">
        </label><br><br><br><br>


       <p class=""><b>Clique no botão abaixo para mostrar o saldo do aluno</p> </b>
       <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Mostrar</button>
       <div id="demo" class="collapse"><b> Os produtos consumidos por seu filho:  Coxinha (R$ 5,00), Hamburguer(R$ 5,00)</b></div>
      </div>
  </div>      
</body>
</html>

